/* App.css */

/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Heading styles */
h1 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Anime card styles */
.anime-card {
  cursor: pointer;
  display: flex;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
}

.anime-card:hover {
  background-color: #e0e0e0;
}

.anime-card img {
  width: 100px;
  height: auto;
  margin-right: 10px;
  border-radius: 5px;
}

.ani-detail {
  flex: 1;
}

.ani-detail h3 {
  font-size: 18px;
  margin: 0;
}

.ani-detail p {
  margin: 5px 0;
}

/* Selected Anime Info styles */
.selected-anime-info {
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.selected-anime-info h2 {
  font-size: 24px;
  margin: 0;
}

.selected-anime-info p {
  margin: 5px 0;
}

/* Episode list styles */
.episode-list {
  margin-top: 20px;
}

.episode-list h2 {
  font-size: 24px;
  margin: 0;
}

.episode-list ul {
  list-style: none;
  padding: 0;
}

.episode-list li {
  cursor: pointer;
  margin: 5px 0;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.episode-list li:hover {
  background-color: #e0e0e0;
}

/* Loading message styles */
p.loading {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

/* HLS player container styles */
.hls-player-container {
  position: relative;
}

/* Quality selection styles */
.quality-selection {
  position: sticky;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}

.quality-selection label {
  font-weight: bold;
  margin-right: 5px;
}

.quality-selection select {
  padding: 5px;
  border: none;
  background-color: #fff;
  color: #333;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

.quality-selection select:focus {
  outline: none;
}
